nav {
  background-color: #2E8B57;
  width: auto;
  display: flex;
  padding: 0px;
  font-size: 20px;
  font-family: helvetica;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

nav a {

}

a.current_page {
  background-color: ;
}

.brd {
  width: 50%;
}
