@media only screen and (max-width: 4000px) and (min-width: 300px) {
  .nav {
    width: auto;
  }
}

*:focus {
  outline: none;
}

a {
  cursor: pointer;
}

hr {
  margin: 0;
}

body, html {
  margin: 0;
  height: max-content;
}

body {
  display: flex;
  flex-direction: column;

}

main {
  height: max-content;
}

h2, h1 {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: rgb(67, 97, 77);
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.brd {
  width: 50%;
}
