input[type="text"], textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 6px;
  margin: 6px 0;
  border: 2px solid rgb(73,130,61);
}

form {
  width: 1000px;
  margin: auto;
  position: relative;
  height: 82.646vh;
  bottom: 52px;
}

.sendjobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1020px) {
  form {
    width: 100%
  }
}

button, input[type="reset"] {
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: 0;
  width: 100px;

}

* {
  font-family: 'Roboto', sans-serif;
}

main h1 {
  padding-top: 5px;
  text-align: center;
}

div {
  text-align: center;
}

.thanks {
  position: relative;
}
